*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header h1, section h2, #shared-environment, #appointment {
    font-family: 'Luckiest Guy', cursive;
    font-weight: normal;
    font-size: 26px;
}

header h1 {
    font-size: 50px;
}

body, #footer, input, select, section h3, #shared-environment p {
    font-family: 'Open Sans', sans-serif;
}

header .container, section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li, #photos li {
    display: inline;
}

header {
    background-color: rgb(194, 174, 109);
    padding: 12px;
}

header img {
    height: 35px;
}

header li a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

section h2, #about h2, #shared-environment {
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}

#about img {
    width: 800px;
    height: 500px;
    padding: 12px 12px 0px 0;
}

#about p, #shared-environment p {
    margin: 12px 0px;
    text-align: center;
    font-size: 16px;
} 

#shared-environment, #appointment {
    padding: 24px;
    text-align: center;
}

#shared-environment img, #appointment img {
    height: 20px;
}

#photos img {
    height: 350px;
    width: 423px;
}

form input, form button, form textarea, .in-person, .social-medias {
    display: block;
    width: 423px;
    padding: 8px 0px;
    margin-bottom: 8px;
}

form select {
    margin-bottom: 8px;
}

form textarea {
    height: 150px;
    resize: none;
}

form button {
    background-color: rgb(194, 174, 109);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(109, 98, 62);
}

input:focus, textarea:focus, select:focus {
    outline-color: rgb(194, 174, 109);
}

section h3 {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bolder;
}

.social-medias img {
    margin-top: 2px;
    height: 141px;
    width: 141px;
}

.in-person img {
    height: 423px;
}

.social-medias li, .in-person li {
    display: block;
}

.social-medias, .in-person {
    text-align: center;
}

.in-person p {
    font-size: 16px;
}

footer {
    background-color: rgb(194, 174, 109);
    padding: 12px;
    color: white;
}